{% extends "layout.html" %} <!-- Load template -->

{% block content %} <!-- Override template -->
<h1>Expense Record</h1> <!-- Level 1 heading -->
<table> <!-- Creates a HTML table element -->
    <tr> <!-- New table row -->
        <!-- 4 table headers -->
        <th>Date</th>
        <th>Payee</th>
        <th>Amount</th>
        <th>Category</th>
    </tr> <!-- New table row -->
    {% for expense in expense_record.expense_records %} <!-- Iterate through the data structure of expense records -->
    <tr> <!-- New table row -->
        <!-- 4 table headers -->
        <td>{{ expense.date }}</td>
        <td>{{ expense.payee }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.category }}</td>
    </tr> <!-- End table row -->
    {% endfor %} <!-- End for loop -->
</table> <!-- End table -->
{% endblock %} <!-- End override block -->
