{% extends 'layout.html' %} <!-- Inherit template -->

{% block content %} <!-- Override template -->
  <h1>Rent Manager</h1>  <!-- Level 1 heading -->
  <ul>  <!-- Unordered bulletted list -->
    <!-- Links together HTML files to title of link -->
    <li><a href="{{ url_for('add_tenant') }}">Add New Tenant</a></li>  
    <li><a href="{{ url_for('tenant_list') }}">Show Tenant List</a></li>
    <li><a href="{{ url_for('record_rental_payment') }}">Input Rental Payment</a></li>
    <li><a href="{{ url_for('rental_income_record') }}">Show Rental Income Record</a></li>
    <li><a href="{{ url_for('record_expense') }}">Input Expense</a></li>
    <li><a href="{{ url_for('expense_record') }}">Show Expense Record</a></li>
    <li><a href="{{ url_for('annual_report') }}">Show Annual Report</a></li>
  </ul>  <!-- Ends the nordered bulletted list -->
{% endblock %} <!-- End override block -->
