{% extends "layout.html" %} <!-- Load template -->

{% block content %} <!-- Override template -->
<h1 align="center">Rental Income Record</h1> <!-- Level 1 heading -->
<table> <!-- Creates a HTML table element -->
    <tr> <!-- New table row -->
        <!-- 3 table headers -->
        <th>Apartment Number</th>
        <th>Month</th>
        <th>Amount</th>
    </tr> <!-- End table row -->
    {% for income_record in rental_income_records %} <!-- Iterate through income records -->
    <tr> <!-- New table row -->
        <!-- 3 table data elements -->
        <td>{{ income_record.apartment_number }}</td>
        <td>{{ income_record.date }}</td>
        <td>{{ income_record.amount }}</td>
    </tr> <!-- End table row -->
    {% endfor %} <!-- End for loop -->
</table> <!-- End table -->
{% endblock %} <!-- End override block -->
